*pyc
*.csv
*.processed
*.ret
compare-results/**
*.pkl
eval-dataset/**
eval-result/**
ratio**
trex-ratio**
safe-ratio**
*.png
*.sret
*pb2.py
*pb.cc
*pb.h
*__pycache__*
build/**
cmp-ret/**
score-ret/**
pem-x64/**
pem-aarch64/**
aarch64-coreutils/**
ml-baseline-results/**